<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingplusplus.pinus"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/pinus"
         android:label="@string/appName"
         android:theme="@style/Theme" >
         <activity
            android:name=".PinusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"
            android:exported="true" />
    </application>

</manifest>
